.line{
	position: relative;
	display: flex;
	align-items: center;
}
.line__icon {
	width: 20px;
	position: absolute;
	left: -30px;
}
.line__content {
	color: black;
	font-size: 16px;
	display: flex;
	gap: 15px;
}
