.search {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
}
.search::before {
	content: '';
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Yandex_logo_2021_Russian.svg/1024px-Yandex_logo_2021_Russian.svg.png');
	width: 156px;
	height: 45px;
	position: absolute;
	background-size: cover;
	left: -176px;
}
